
.box {
  margin: 32px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 12px;
  min-width: 340px;
  border: 0.5px #fff solid;
  padding: 22px;
  &:hover {
    background-color: #fff;
    opacity: 0.9;
    color: #000;
    cursor: pointer;
  }
  &Name {
    color: red;
    font-size: 24px;
  }
  &Sub {
    display: flex;
    flex-direction: column;
    gap: 12px;
    &Phone {
      font-size: 16px;
    }
    &Mail {
      font-size: 16px;
    }
    &Address {
      font-size: 16px;
    }
  }
}
